In [14]:
import pandas as pd
data = pd.read_csv('../data/RickAndMortyScripts.csv')
data.head()

,index,season no.,episode no.,episode name,name,line
0,0,1,1,Pilot,Rick,Morty! You gotta come on. Jus'... you gotta co...
1,1,1,1,Pilot,Morty,"What, Rick? What’s going on?"
2,2,1,1,Pilot,Rick,"I got a surprise for you, Morty."
3,3,1,1,Pilot,Morty,It's the middle of the night. What are you tal...
4,4,1,1,Pilot,Rick,"Come on, I got a surprise for you. Come on, h..."

In [15]:
data.drop(['index', 'season no.','episode no.'] ,axis=1, inplace=True)

In [16]:
data.head()

  episode name   name                                               line
0        Pilot   Rick  Morty! You gotta come on. Jus'... you gotta co...
1        Pilot  Morty                       What, Rick? What’s going on?
2        Pilot   Rick                   I got a surprise for you, Morty.
3        Pilot  Morty  It's the middle of the night. What are you tal...
4        Pilot   Rick  Come on, I got a surprise for you.  Come on, h...

In [17]:
data.to_json("../data/RickAndMortyScripts_json", orient="records")

In [18]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1905 entries, 0 to 1904
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   episode name  1905 non-null   object
 1   name          1905 non-null   object
 2   line          1905 non-null   object
dtypes: object(3)
memory usage: 44.8+ KB